*{
  margin: 0;
  padding: 0;
}


 body{
  background-image: url("./assets/inline_image_preview.jpg");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 82vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}